@page
@model App.EndPoints.UI.RazorPages.Pages.ChangePasswordModel
@{
	Layout = "Shared/_CustomerDashboardLayout";
}

<!-- ======================= dashboard Detail ======================== -->

	<div class="goodup-dashboard-content">
		<div class="dashboard-tlbar d-block mb-5">
			<div class="row">
				<div class="colxl-12 col-lg-12 col-md-12">
					<h1 class="ft-medium fs-lg">تغییر رمز عبور</h1>
				</div>
			</div>
		</div>

		<div class="dashboard-widg-bar d-block">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="_dashboard_content bg-white rounded mb-4">
						<div class="_dashboard_content_header br-bottom py-3 px-3">
							<div class="_dashboard__header_flex">
								<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-lock ms-2 theme-cl fs-sm"></i>تغییر رمز عبور</h4>
							</div>
						</div>

						<div class="_dashboard_content_body py-3 px-3">
							<form class="row submit-form">
								<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
									<div class="form-group">
										<label>رمز قدیم</label>
										<input type="text" class="form-control rounded" placeholder="">
									</div>
								</div>
								<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
									<div class="form-group">
										<label>رمز جدید</label>
										<input type="text" class="form-control rounded" placeholder="">
									</div>
								</div>
								<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
									<div class="form-group">
										<label>تایید رمز جدید</label>
										<input type="text" class="form-control rounded" placeholder="">
									</div>
								</div>
								<div class="col-xl-12 col-lg-12">
									<div class="form-group">
										<button type="submit" class="btn btn-md ft-medium text-light rounded theme-bg">ذخیره تغییرات</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- footer -->
		<div class="row">
			<div class="col-md-12">
				<div class="py-3">© 2022 Goodup ارائه شده در سایت <a href="https://rtl-theme.com/">راست چین</a></div>
			</div>
		</div>

	</div>

@* </div> *@
<!-- ======================= dashboard Detail End ======================== -->

<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
