@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html lang="fa" class="light-style customizer-hide" dir="rtl" data-theme="theme-semi-dark" data-assets-path="/AdminAssets/" data-template="vertical-menu-template">

<!-- Mirrored from v3dboy.ir/previews/html/frest/frest/html/vertical-menu-template-semi-dark/pages-misc-under-maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 19:28:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>در دست تعمیر - صفحات | فرست - قالب مدیریت بوت‌استرپ</title>

    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://v3dboy.ir/previews/html/frest/frest/assets/img/favicon/favicon.ico">

    <!-- Icons -->
    <link rel="stylesheet" href="/AdminAssets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="/AdminAssets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="/AdminAssets/vendor/fonts/flag-icons.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href="/AdminAssets/vendor/css/rtl/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="/AdminAssets/vendor/css/rtl/theme-semi-dark.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="/AdminAssets/css/demo.css">
    <link rel="stylesheet" href="/AdminAssets/vendor/css/rtl/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/AdminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/AdminAssets/vendor/libs/typeahead-js/typeahead.css">

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/AdminAssets/vendor/css/pages/page-misc.css">
    <!-- Helpers -->
    <script src="/AdminAssets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/AdminAssets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/AdminAssets/js/config.js"></script>
</head>

<body>
    <!-- Content -->
    <!--Under Maintenance -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h1 class="mb-2 mx-2 secondary-font">در دست تعمیر!</h1>
            <p class="mb-4 mx-2">با عرض پوزش برای ناراحتی، در حال حاضر در حال انجام برخی تعمیرات هستیم</p>
            <a asp-area="Admin" asp-page="Index" class="btn btn-primary">بازگشت به خانه</a>
            <div class="mt-4">
                <img src="/AdminAssets/img/illustrations/boy-working-light.png" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-light-img="illustrations/boy-working-light.png" data-app-dark-img="illustrations/boy-working-dark.png">
            </div>
        </div>
    </div>
    <!-- /Under Maintenance -->
    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/AdminAssets/vendor/libs/jquery/jquery.js"></script>
    <script src="/AdminAssets/vendor/libs/popper/popper.js"></script>
    <script src="/AdminAssets/vendor/js/bootstrap.js"></script>
    <script src="/AdminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/AdminAssets/vendor/libs/hammer/hammer.js"></script>

    <script src="/AdminAssets/vendor/libs/i18n/i18n.js"></script>
    <script src="/AdminAssets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="/AdminAssets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="/AdminAssets/js/main.js"></script>

    <!-- Page JS -->
</body>

<!-- Mirrored from v3dboy.ir/previews/html/frest/frest/html/vertical-menu-template-semi-dark/pages-misc-under-maintenance.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 19:28:15 GMT -->
</html>