@page
@model App.EndPoints.UI.RazorPages.Pages.ServicesModel
@{
}

<!-- ============================ Search Tag & Filter Start ================================== -->
<section class="cats-filters py-3">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="Goodup-all-drp">

                    <div class="Goodup-single-drp small">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">رستوران</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/fast-delivery.png" class="img-fluid" width="20" alt="" />تحویل</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/burger.png" class="img-fluid" width="20" alt="" />برگر</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/booking.png" class="img-fluid" width="20" alt="" />رزرواسیون</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/house.png" class="img-fluid" width="20" alt="" />ژاپنی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/chinese-food.png" class="img-fluid" width="20" alt="" />چینی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/mexican-hat.png" class="img-fluid" width="20" alt="" />مکزیکی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/dish.png" class="img-fluid" width="20" alt="" />ایتالیایی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/tom-yum.png" class="img-fluid" width="20" alt="" />تایلندی</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="Goodup-single-drp small">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">خدمات خانه</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/hammer.png" class="img-fluid" width="20" alt="" />تاسیسات</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/coconut-tree.png" class="img-fluid" width="20" alt="" />باغبانی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/broken-cable.png" class="img-fluid" width="20" alt="" />برقکاری</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/padlock.png" class="img-fluid" width="20" alt="" />کلید سازی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/basket.png" class="img-fluid" width="20" alt="" />نظافت</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/delivery-truck.png" class="img-fluid" width="20" alt="" />باربری</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/home.png" class="img-fluid" width="20" alt="" />سلامت</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/plumbering.png" class="img-fluid" width="20" alt="" />لوله کشی</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="Goodup-single-drp small">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">خدمات خودرو</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/wrench.png" class="img-fluid" width="20" alt="" />تعمیر</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/rental-car.png" class="img-fluid" width="20" alt="" />کرایه و اجاره</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/sketch.png" class="img-fluid" width="20" alt="" />کارشناسی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/oil.png" class="img-fluid" width="20" alt="" />تعویض روغن</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/shopping-bag.png" class="img-fluid" width="20" alt="" />لوازم یدکی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/parking.png" class="img-fluid" width="20" alt="" />پارکینگ</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/car-wash.png" class="img-fluid" width="20" alt="" />کارواش</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/tow-truck.png" class="img-fluid" width="20" alt="" />بُکسل</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="Goodup-single-drp small">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">سایر</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/towel-hanger.png" class="img-fluid" width="20" alt="" />خشکشویی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/salon.png" class="img-fluid" width="20" alt="" />سالن زیبایی</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/smartphone.png" class="img-fluid" width="20" alt="" />تعمیر موبایل</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/weights.png" class="img-fluid" width="20" alt="" />باشگاه</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/cocktail.png" class="img-fluid" width="20" alt="" />کافی شاپ</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/spa.png" class="img-fluid" width="20" alt="" />سالن ماساژ</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/poinsettia.png" class="img-fluid" width="20" alt="" />کلاپ</a></li>
                                <li><a class="dropdown-item" href="#"><img src="assets/img/icons/online-shopping.png" class="img-fluid" width="20" alt="" />مرکز خرید</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="Goodup-single-drp small">
                        <div class="btn-group">
                            <button type="button" class="btn bg-dark text-light">به روز رسانی</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ Search Tag & Filter End ================================== -->
<!-- ============================ Main Section Start ================================== -->
<section class="gray py-5">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                <div class="bg-white rounded mb-4">

                    <div class="sidebar_header d-flex align-items-center justify-content-between px-4 py-3 br-bottom">
                        <h4 class="ft-medium fs-6 mb-0">فیلتر جستجو</h4>
                        <div class="ssh-header">
                            <a href="javascript:void(0);" class="clear_all ft-medium text-muted">حذف همه</a>
                            <a href="#search_open" data-bs-toggle="collapse" aria-expanded="false" role="button" class="collapsed _filter-ico ml-2"><i class="lni lni-text-align-right"></i></a>
                        </div>
                    </div>

                    <!-- Find New Property -->
                    <div class="sidebar-widgets collapse miz_show" id="search_open" data-bs-parent="#search_open">
                        <div class="search-inner">

                            <div class="side-filter-box">
                                <div class="side-filter-box-body">

                                    <!-- Price Range -->
                                    <div class="inner_widget_link">
                                        <div class="btn-group d-flex justify-content-around price-btn-457">
                                            <button type="button" class="btn">همه</button>
                                            <button type="button" class="btn">
                                                اقتصادی
                                            </button>
                                            <button type="button" class="btn active d14ixh">متوسط</button>
                                            <button type="button" class="btn">گران</button>
                                        </div>
                                    </div>

                                    <!-- Suggested -->
                                    <div class="inner_widget_link">
                                        <h6 class="ft-medium">دسته بندی ها</h6>
                                        <ul class="no-ul-list filter-list">
                                            <li>
                                                <input id="a1" class="checkbox-custom" name="open" type="checkbox">
                                                <label for="a1" class="checkbox-custom-label">فست فود</label>
                                            </li>
                                            <li>
                                                <input id="a2" class="checkbox-custom" name="reservations" type="checkbox">
                                                <label for="a2" class="checkbox-custom-label">ارسال اکسپرس</label>
                                            </li>
                                            <li>
                                                <input id="a3" class="checkbox-custom" name="Mexican" type="checkbox">
                                                <label for="a3" class="checkbox-custom-label">مکزیکی</label>
                                            </li>
                                            <li>
                                                <input id="a4" class="checkbox-custom" name="Seafood" type="checkbox">
                                                <label for="a4" class="checkbox-custom-label">دریایی</label>
                                            </li>
                                            <li>
                                                <input id="a5" class="checkbox-custom" name="Takeout" type="checkbox">
                                                <label for="a5" class="checkbox-custom-label">دارای تخفیف</label>
                                            </li>

                                        </ul>
                                    </div>

                                    <!-- Features -->
                                    <div class="inner_widget_link">
                                        <h6 class="ft-medium">ویژگی ها</h6>
                                        <ul class="no-ul-list filter-list">
                                            <li>
                                                <input id="a6" class="checkbox-custom" name="Kids" type="checkbox" checked="">
                                                <label for="a6" class="checkbox-custom-label">مناسب برای کودکان</label>
                                            </li>
                                            <li>
                                                <input id="a7" class="checkbox-custom" name="Service" type="checkbox">
                                                <label for="a7" class="checkbox-custom-label">وای فای</label>
                                            </li>
                                            <li>
                                                <input id="a8" class="checkbox-custom" name="Open" type="checkbox">
                                                <label for="a8" class="checkbox-custom-label">شبانه روزی</label>
                                            </li>
                                            <li>
                                                <input id="a9" class="checkbox-custom" name="Dogs" type="checkbox">
                                                <label for="a9" class="checkbox-custom-label">اجازه ورود سگ</label>
                                            </li>
                                            <li>
                                                <input id="a10" class="checkbox-custom" name="Outdoor" type="checkbox">
                                                <label for="a10" class="checkbox-custom-label">نشستن در فضای باز</label>
                                            </li>
                                            <li>
                                                <input id="a11" class="checkbox-custom" name="Hot" type="checkbox">
                                                <label for="a11" class="checkbox-custom-label">دارای کوپن</label>
                                            </li>
                                            <li>
                                                <input id="a12" class="checkbox-custom" name="Breakfast" type="checkbox">
                                                <label for="a12" class="checkbox-custom-label">صبحانه</label>
                                            </li>
                                            <li>
                                                <a class="ft-bold d14ixh" href="javascript:void(0);">بیشتر</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Neighborhoods -->
                                    <div class="inner_widget_link">
                                        <h6 class="ft-medium">محله</h6>
                                        <ul class="no-ul-list filter-list">
                                            <li>
                                                <input id="b1" class="checkbox-custom" name="Alta" type="checkbox" checked="">
                                                <label for="b1" class="checkbox-custom-label">اشرفی اصفهانی</label>
                                            </li>
                                            <li>
                                                <input id="b2" class="checkbox-custom" name="Monticello" type="checkbox">
                                                <label for="b2" class="checkbox-custom-label">پاسداران</label>
                                            </li>
                                            <li>
                                                <input id="b3" class="checkbox-custom" name="Beacon" type="checkbox">
                                                <label for="b3" class="checkbox-custom-label">احمد آباد</label>
                                            </li>
                                            <li>
                                                <input id="b4" class="checkbox-custom" name="Near" type="checkbox">
                                                <label for="b4" class="checkbox-custom-label">تهران پارس</label>
                                            </li>
                                            <li>
                                                <input id="b5" class="checkbox-custom" name="North" type="checkbox">
                                                <label for="b5" class="checkbox-custom-label">سجادیه</label>
                                            </li>
                                            <li>
                                                <input id="b6" class="checkbox-custom" name="Northwest1" type="checkbox">
                                                <label for="b6" class="checkbox-custom-label">شهرک غرب</label>
                                            </li>
                                            <li>
                                                <input id="b7" class="checkbox-custom" name="Pecan" type="checkbox">
                                                <label for="b7" class="checkbox-custom-label">شریعتی</label>
                                            </li>
                                            <li>
                                                <input id="b8" class="checkbox-custom" name="Prospect" type="checkbox">
                                                <label for="b8" class="checkbox-custom-label">نواب صفوی</label>
                                            </li>
                                            <li>
                                                <input id="b9" class="checkbox-custom" name="South" type="checkbox">
                                                <label for="b9" class="checkbox-custom-label">سعادت آباد</label>
                                            </li>
                                            <li>
                                                <a class="ft-bold d14ixh" href="javascript:void(0);">بیشتر</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Bird's-eye View -->
                                    <div class="inner_widget_link">
                                        <h6 class="ft-medium">مسافت</h6>
                                        <ul class="no-ul-list filter-list">
                                            <li>
                                                <input id="c1" class="checkbox-custom" name="blc" type="checkbox" checked="">
                                                <label for="c1" class="checkbox-custom-label">در 4 بلوک</label>
                                            </li>
                                            <li>
                                                <input id="c2" class="checkbox-custom" name="1km" type="checkbox">
                                                <label for="c2" class="checkbox-custom-label">پیاده روی (1 مایل)</label>
                                            </li>
                                            <li>
                                                <input id="c3" class="checkbox-custom" name="2km" type="checkbox">
                                                <label for="c3" class="checkbox-custom-label">دوچرخه سواری (2 مایل)</label>
                                            </li>
                                            <li>
                                                <input id="c4" class="checkbox-custom" name="5km" type="checkbox">
                                                <label for="c4" class="checkbox-custom-label">رانندگی (5 مایل)</label>
                                            </li>
                                            <li>
                                                <input id="c5" class="checkbox-custom" name="10km" type="checkbox">
                                                <label for="c5" class="checkbox-custom-label">رانندگی (10 مایل)</label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group filter_button">
                                        <button type="submit" class="btn theme-bg text-light rounded full-width">22 نتیجه یافت شد</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Sidebar End -->

            </div>

            <!-- Item Wrap Start -->
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">

                <!-- row -->
                <div class="row justify-content-center gx-3">

                    @foreach (var service in Model.Services)
                    {
                        <!-- Single -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="Goodup-grid-wrap">
                                <div class="Goodup-grid-upper">
                                    <div class="Goodup-pos ab-right">
                                        <div class="Goodup-status close ms-2">بسته</div>
                                    </div>
                                    <div class="Goodup-grid-thumb">
                                        <a asp-page="Request" asp-route-serviceId="@service.Id" class="d-block text-center m-auto"><img src="assets/img/listing/l-5.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="Goodup-rating overlay">
                                        <div class="Goodup-pr-average high">4.8</div>
                                        <div class="Goodup-aldeio">
                                            <div class="Goodup-rates">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="Goodup-all-review"><span>46 نظر</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Goodup-grid-fl-wrap">
                                    <div class="Goodup-caption px-3 py-2">
                                        <div class="Goodup-author"><a href="author-detail.html"><img src="assets/img/t-1.png" class="img-fluid circle" alt=""></a></div>
                                        <h4 class="mb-0 ft-medium medium"><a href="listing-detail-2.html" class="text-dark fs-md">@service.Title</a></h4>
                                        <div class="Goodup-location"><i class="fas fa-map-marker-alt ms-1 theme-cl"></i>کالیفرنیا، ایالات متحده آمریکا</div>
                                        <div class="Goodup-middle-caption mt-3">
                                            <p>شرایط فعلی تکنولوژی مورد نیاز</p>
                                        </div>
                                    </div>
                                    <div class="Goodup-grid-footer py-2 px-3">
                                        <div class="Goodup-ft-first">
                                            <a href="search.html" class="Goodup-cats-wrap"><div class="cats-ico bg-2"><i class="lni lni-slim"></i></div><span class="cats-title">آرایشگاه</span></a>
                                        </div>
                                        <div class="Goodup-ft-last">
                                            <div class="Goodup-inline">
                                                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-envelope position-absolute"></i></button></div>
                                                <div class="Goodup-bookmark-btn"><button type="button"><i class="lni lni-heart-filled position-absolute"></i></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- row -->

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span class="fas fa-arrow-circle-right"></span>
                                        <span class="sr-only">قبل</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">18</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span class="fas fa-arrow-circle-left"></span>
                                        <span class="sr-only">بعد</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</section>
<!-- ============================ Main Section End ================================== -->
