<!DOCTYPE html>
<html lang="fa">


<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goodup - قالب ثبت آگهی و دایرکتوری HTML</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <!-- Morris Charts CSS -->
    <link href="/assets/js/plugins/morris.js/morris.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>

<body dir="rtl">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader"></div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- Start Navigation -->
        @* <div class="header header-light dark-text head-shadow">
            <div class="container">
                <nav id="navigation" class="navigation navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand" href="#">
                            <img src="/assets/img/logo.png" class="logo" alt="" />
                        </a>
                        <div class="nav-toggle"></div>
                        <div class="mobile_nav">
                            <ul>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#login" class="theme-cl fs-lg">
                                        <i class="lni lni-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="add-listing.html" class="crs_yuo12 w-auto text-white theme-bg">
                                        <span class="embos_45"><i class="fas fa-plus ms-2"></i>افزودن آگهی</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-menus-wrapper" style="transition-property: none;">
                        <ul class="nav-menu">

                            <li class="active">
                                <a href="javascript:void(0);">صفحه اصلی</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="index.html">نسخه 1</a></li>
                                    <li><a href="home-2.html">نسخه 2</a></li>
                                    <li><a href="home-3.html">نسخه 3</a></li>
                                    <li><a href="home-4.html">نسخه 4</a></li>
                                    <li><a href="home-5.html">نسخه 5</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0);">آگهی</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li>
                                        <a href="javascript:void(0);">شبکه ای</a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="listing-search-v1.html">سایدبار نسخه 1</a></li>
                                            <li><a href="listing-search-v2.html">سایدبار نسخه 2</a></li>
                                            <li><a href="listing-search-v3.html">سایدبار نسخه 3</a></li>
                                            <li><a href="listing-search-with-map.html">تمام صفحه با نقشه</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">لیست</a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="listing-search-v4.html">با سایدبار</a></li>
                                            <li><a href="listing-search-v5.html">تمام صفحه</a></li>
                                            <li><a href="listing-search-with-map.html">تمام صفحه با نقشه</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">با نقشه</a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="half-map-search-1.html">نسخه 1</a></li>
                                            <li><a href="half-map-search-2.html">نسخه 2</a></li>
                                            <li><a href="half-map-search-3.html">نسخه 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">جزئیات</a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="single-listing-detail-1.html">نسخه 1</a></li>
                                            <li><a href="single-listing-detail-2.html">نسخه 2</a></li>
                                            <li><a href="single-listing-detail-3.html">نسخه 3</a></li>
                                            <li><a href="single-listing-detail-4.html">نسخه 4</a></li>
                                            <li><a href="single-listing-detail-5.html">نسخه 5</a></li>
                                            <li><a href="single-listing-detail-6.html">نسخه 6</a></li>
                                            <li><a href="single-listing-detail-7.html">نسخه 7</a></li>
                                            <li><a href="single-listing-detail-8.html">نسخه 8</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="author-detail.html">جرئیات آگهی دهنده</a>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0);">پنل کاربری</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="dashboard.html"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                                    <li><a href="dashboard-my-listings.html"><i class="lni lni-files ms-2"></i>آگهی های من</a></li>
                                    <li><a href="dashboard-add-listings.html"><i class="lni lni-add-files ms-2"></i>افزودن آگهی</a></li>
                                    <li><a href="dashboard-saved-listings.html"><i class="lni lni-bookmark ms-2"></i>علاقه مندی ها</a></li>
                                    <li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase ms-2"></i>رزروهای من<span class="count-tag bg-warning">4</span></a></li>
                                    <li><a href="dashboard-wallet.html"><i class="lni lni-mastercard ms-2"></i>کیف پول</a></li>
                                    <li><a href="dashboard-messages.html"><i class="lni lni-envelope ms-2"></i>پیام ها<span class="count-tag bg-sky">4</span></a></li>
                                    <li><a href="dashboard-my-profile.html"><i class="lni lni-user ms-2"></i>حساب من </a></li>
                                    <li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt ms-2"></i>تغییر رمز عبور</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0);">صفحات</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="blog.html">وبلاگ</a></li>
                                    <li><a href="about-us.html">درباره ما</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                    <li><a href="checkout.html">تسویه حساب</a></li>
                                    <li><a href="pricing.html">پکیج های قیمت گذاری</a></li>
                                    <li><a href="signup.html">ثبت نام</a></li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="privacy.html">شرایط و قوانین</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>

                                    <li><a href="404.html">صفحه 404</a></li>
                                </ul>
                            </li>

                        </ul>

                        <ul class="nav-menu nav-menu-social align-to-left">
                            <li>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#login" class="ft-bold">
                                    <i class="fas fa-sign-in-alt ms-1 theme-cl"></i>ورود
                                </a>
                            </li>
                            <li class="add-listing">
                                <a href="add-listing.html">
                                    <i class="fas fa-plus ms-2"></i>افزودن آگهی
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div> *@
        <!-- End Navigation -->
        <div class="clearfix"></div>
        <!-- ============================================================== -->
        <!-- Top header  -->
        <!-- ============================================================== -->
        <!-- =============================== Dashboard Header ========================== -->
        @* <section class="bg-cover position-relative" style="background:red url(assets/img/cover.jpg) no-repeat;" data-overlay="3">
            <div class="abs-list-sec"><a href="dashboard-add-listing.html" class="add-list-btn"><i class="fas fa-plus ms-2"></i>افزودن آگهی</a></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                        <div class="dashboard-head-author-clicl">
                            <div class="dashboard-head-author-thumb">
                                <img src="assets/img/t-7.png" class="img-fluid" alt="" />
                            </div>
                            <div class="dashboard-head-author-caption">
                                <div class="dashploio"><h4>مهرداد هاشمی</h4></div>
                                <div class="dashploio"><span class="agd-location"><i class="lni lni-map-marker ms-1"></i>سانفرانسیسکو، آمریکا</span></div>
                                <div class="listing-rating high"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section> *@
        <!-- =============================== Dashboard Header ========================== -->
        <div class="goodup-dashboard-wrap gray px-4 py-5">
            <a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
                <i class="fas fa-bars ms-2"></i>منو
            </a>
            <div class="collapse" id="MobNav">
                <div class="goodup-dashboard-nav sticky-top">
                    <div class="goodup-dashboard-inner">
                        <ul data-submenu-title="منو">
                            <li><a asp-page="MyRequests"><i class="lni lni-files ms-2"></i>آگهی های من</a></li>
                            <li><a asp-page="Index"><i class="lni lni-add-files ms-2"></i>افزودن آگهی</a></li>
                        </ul>
                        <ul data-submenu-title="حساب کاربری">
                            <li class="active"><a asp-page="Profile"><i class="lni lni-user ms-2"></i>تنظیمات</a></li>
                            <li><a asp-page="ChangePassword"><i class="lni lni-lock-alt ms-2"></i>تغییر رمز عبور</a></li>
                            <li><a href="javascript:void(0);"><i class="lni lni-trash-can ms-2"></i>حذف اکانت</a></li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Account" asp-page="Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                    <button type="submit" class="btn theme-cl rounded theme-bg-light ft-medium">خروج</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>

    <!-- ======================= dashboard Detail End ======================== -->

    <a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/dropzone.js"></script>
    <script src="/assets/js/counterup.js"></script>
    <script src="/assets/js/lightbox.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/daterangepicker.js"></script>
    <script src="/assets/js/lightbox.js"></script>
    <script src="/assets/js/jQuery.style.switcher.js"></script>
    <script src="/assets/js/custom.js"></script>

    <!-- Morris.js charts -->
    <script src="/assets/js/plugins/raphael/raphael.min.js"></script>
    <script src="/assets/js/plugins/morris.js/morris.min.js"></script>

    <!-- Custom Chart JavaScript -->
    <script src="/assets/js/plugins/dashboard-2.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
</body>

@await RenderSectionAsync("Scripts", required: false)

</html>