@using App.Domain.Core.Admin.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userProfileImage = TempData["UserProfileImage"];
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @* <a class="nav-link text-dark" asp-area="Account" asp-page="/Profile" title="پروفایل">@User.Identity?.Name</a> *@
        <a class="nav-link text-dark" asp-page="/Profile" title="پروفایل">@User.Identity?.Name</a>
        @* <div class="dash-msg-avatar"><a asp-page="/Profile" title="پروفایل"><img src="assets/img/t-3.png" alt=""></a><span class="_user_status busy"></span></div> *@
        @* <div class="dash-msg-avatar"><a asp-page="/Profile" title="پروفایل"><img src="assets/img/t-3.png" alt=""></a></div> *@
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Account" asp-page="Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            @* <button type="submit" class="nav-link btn btn-link text-dark">خروج</button> *@
            <button type="submit" class="btn theme-cl rounded theme-bg-light ft-medium">خروج</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Account" asp-page="/Register" asp-page-handler="OnGet" class="ft-bold">
            <i class="fas fa-sign-in-alt ms-1 theme-cl"></i>ثبت نام
        </a>
    </li>
    <li>
        <a asp-area="Account" asp-page="/Login" class="ft-bold">
            <i class="fas fa-sign-in-alt ms-1 theme-cl"></i>ورود
        </a>
    </li>
}
